/* GENERAL */

body {
  margin: 0;
}

/* GENERAL FIN */

/* HOME */

.home {
  /* background-image: ; */
  background-color: #343739;
  height: 800px;
}

.home h1 {
  color: #F5DF4D;
  font-size: 100px;
  margin-left: 22%;
  font-weight: bold;
  padding-top: 200px;
  padding-bottom: 50px;
  font-family: 'Poppins', arial, sans-serif;
}

.home h2 {
  color: #FFFFFF;
  font-size: 45px;
  margin-left: 22%;
  padding-bottom: 100px;
  font-weight: bold;
  font-family: 'Poppins', arial, sans-serif;
}

#arrow {
  display: block;
  margin: auto;
  text-align: center;
}

#logo {
  position: absolute;
  left: 93%;
  top: 84%
}

/* HOME FIN */

/* ACHIEVEMENTS  */

.achievements {
  height: 611px;
}

.achievements h1{
  color: #343739;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 60px;
  font-size: 80px;
  font-family: 'Poppins', arial, sans-serif;
  font-weight: bold;
}

.achievements .col-sm {
  background-color: black;
  color: white;
}

/* ACHIEVEMENTS FIN */


/* FOOTER  */

footer {
  /* background-image: ; */
  background-color: #343739;

}
/* FOOTER FIN  */